@{
    ViewData["Title"] = "О сервису";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<div class="container-fluid">
<p>Сервис за заказивање и издавање пасоша јесте интернет сервис који омогућава грађанима Републике Србије, као и странцима да аплицирају за пасош.
    Уколико комисија утврди да подносилац захтева испуњава услове за издавање пасоша, исти ће бити обавештен о термину издавања.
</p>
</div>