@{
    ViewData["Title"] = "Почетна";
}

<div class="text-center">
    <h1 class="display-3">ДОБРОДОШЛИ,</h1>
    <h2 class="display-3">улогујте се и брзо закажите издавање Вашег пасоша.</h2>
    <h3>Региструј се, пријави се, закажи издавање и прати статус свог захтева за пасош.</h3>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PrijavaIliRegistracija"><button class="mojeDuge">ПРИЈАВИ СЕ</button></a>
</div>
