@{
    ViewData["Title"] = "Пријава или регистрација";
}

<div class="text-center">
    <p class="display-1">Уколико већ имате налог пријавите се, уколико немате региструјте се!</p>
   <div class="d-inline-flex"> 
       <a class="nav-link text-dark" asp-area="" asp-controller="Nalog" asp-action="Prijava"><button>ПРИЈАВИ СЕ</button></a>
       <a class="nav-link text-dark" asp-area="" asp-controller="Nalog" asp-action="Registracija"><button>РЕГИСТРУЈ СЕ</button></a>
    </div>
</div>
