@{
    ViewData["Title"] = "Почетна";
}

<h1>ДОБРОДИШЛИ, АДМИНЕ</h1>


<div class="btn-group-vertical" role="group">
<a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminPregledKorisnika"><button>ПРЕГЛЕД КОРИСНИКА</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminPregledZahteva"><button>ПРЕГЛЕД ЗАХТЕВА</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminPregledPasosa"><button>ПРЕГЛЕД ПАСОША</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminPregledTermina"><button>ПРЕГЛЕД ТЕРМИНА</button></a>
</div>