@{
    ViewData["Title"] = "Почетна";
}

<div class="text-center">
    <h1 class="display-3">ДОБРОДОШЛИ</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="KorisnikZahtev"><button>ПОДНЕСИ ЗАХТЕВ</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="KorisnikProfil"><button>ПРОФИЛ</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="KorisnikPasosStampa"><button>ШТАМПА ПАСОША</button></a>
</div>